---
import { Image } from "astro:assets";

import DownloadAstro from '../components/icons/download.astro'


interface Project {
  title: string;
  image: string;
  description: string;
  link?: string;
  pdf?: string;
}

const projects: Project[] = [
  {
    title: "Repositorio Git: Captura de Leads",
    image: "/images/portfolio/swagger-back.png",
    description:
      "Backend en Node.js, Express y TypeScript para capturar leads (nombre y correo), con MongoDB y Redis. Maneja 1787.74 solicitudes/seg, incluye validación, protección contra XSS y despliegue con Docker. Envío asincrónico de correos para mejor rendimiento.",
    link: "https://github.com/juandejunin/service-funnel.git",
  },
  {
    title: "Repositorio Git: Captura de Leads - Frontend",
    image: "/images/portfolio/captura-tusistema.png",
    description:
      "Frontend responsivo en Astro, Tailwind y React para capturar leads (nombre y correo), integrado con backend en Node.js. Usa componentes modulares y formulario React con validación en cliente. Optimizado para móviles, tabletas y escritorios, con enfoque en rendimiento y SEO.",
    link: "https://github.com/juandejunin/galactic-gravity.git",
  },
  {
    title: "Página web en producción: Captura de Leads",
    image: "/images/portfolio/tusistema.es-captura.png",
    description:
      "Proyecto full-stack en https://tusistema.es/, alojado en Ubuntu. Backend (Node.js, Express, MongoDB, Redis) desplegado con Docker, frontend (Astro, Tailwind, React) servido por Nginx con HTTPS (certificados SSL). Formulario responsivo para capturar leads, optimizado para rendimiento, seguridad y SEO.",
    link: "https://tusistema.es/",
  },
  {
    title: "Adios nonino con Raul lavie",
    image: "/images/portfolio/raul-lavie.png",
    description:
      "En 2017, participé como tubista en la grabación del CD Sonidos de la Patria de la Banda Militar Conjunta Argentina, integrada por músicos del Ejército, la Armada y la Fuerza Aérea. Como parte de este proyecto, Raúl Lavié fue invitado a interpretar 'Caminito' junto a la banda. La grabación se llevó a cabo en los estudios de Fort Music, en Buenos Aires, con un enfoque profesional en la captación y mezcla del sonido para reflejar con fidelidad la interpretación del artista y la ejecución instrumental.",
    link: "https://soundcloud.com/user-862521320/6-adios-nonino?in=user-862521320/sets/sonidos-de-la-patria-banda-conjunta-militar&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing",
  },
  {
    title: "Antartida",
    image: "/images/portfolio/antartida.png",
    description:
      "En 2016, formé parte de la Banda Militar Conjunta Argentina en una misión histórica: brindar un concierto en la Antártida. Junto a 43 músicos del Ejército, la Armada y la Fuerza Aérea, viajamos al continente blanco para participar en el Concierto por la Paz, un evento concebido para enviar un mensaje de unión, paz y conciencia ambiental. Interpretamos un repertorio variado, que incluyó Adiós Nonino de Astor Piazzolla. La presentación se llevó a cabo en condiciones extremas, lo que representó un desafío tanto logístico como musical, destacando el compromiso y la precisión técnica de la banda en un entorno único.",
    link: "https://youtu.be/hYDRRrBmSzE?si=urJrRLLYxUunB3N6",
  },
  {
    title: "Mas alla del arte",
    image: "/images/portfolio/sound.webp",
    description:
      "Ensayo sobre el error de englobar todas las prácticas sonoras dentro de la música.",
    pdf: "../pdfs/mas_alla_del_arte.pdf",
  },
];
---

<section id="j75-portfolio" class="py-28">
  <div class="container max-w-7xl mx-auto px-4">
    <div class="text-center mb-20 animate-fade-in">
      <h2 class="text-[40px] font-inconsolata font-normal mb-5">
        Mi Portafolio
      </h2>
      <p class="text-lg">
        Moldeo sonidos y escribo código porque me apasiona, y lo hago para que
        cada pieza encaje como debe.
      </p>
    </div>
    <div class="j75-portfolio-grid grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-10 auto-rows-auto">

      {projects.map((project) => (
        <div class="j75-portfolio-item border-2 border-white/10  rounded-lg animate-fade-in flex flex-col h-[500px]">
          <div class="portfolio-entry rounded-t-lg overflow-hidden aspect-[4/3]">
            <Image
              src={project.image}
              alt={project.title}
              width={400}
              height={300}
              class="w-full h-full object-cover"
            />
          </div>
          <div class="portfolio-text p-6  shadow-md rounded-b-lg flex flex-col flex-1">
            <h3 class="text-2xl font-inconsolata font-normal text-white mb-3 line-clamp-2 title">
              {project.title}
            </h3>
            <p
              class="text-lg text-gray-200 description overflow-hidden"
              style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;"
            >
              {project.description}
            </p>
            <div class="flex justify-between items-center mt-2 pt-4 border-t border-black/10">
              <button class="toggle-text text-sm text-white hover:text-[#DD356E] transition-colors">
                Leer más
              </button>
              {project.link && (
                <a
                  href={project.link}
                  class="text-sm text-white hover:text-[#DD356E] transition-colors"
                >
                  Ver más
                </a>
              )}
              {project.pdf && (
                <a
                  href={project.pdf}
                  download
                  class="text-white hover:text-[#e14b7e] transition-colors flex items-center space-x-1"
                >
                  <span>PDF</span>
                  
                  <DownloadAstro class="w-5 h-5" />
                </a>
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleButtons = document.querySelectorAll(".toggle-text");
    toggleButtons.forEach((button) => {
      let modal: HTMLElement | null = null;
      let overlay: HTMLElement | null = null;

      const closeModal = () => {
        if (modal) {
          modal.classList.remove("modal-open");
          setTimeout(() => {
            modal?.remove();
            modal = null;
            if (overlay) {
              overlay.remove();
              overlay = null;
            }
            button.textContent = "Leer más";
          }, 300);
        }
      };

      button.addEventListener("click", (e: Event) => {
        e.preventDefault();
        const portfolioText: Element | null = button.closest(".portfolio-text");
        if (!portfolioText) return;
        const description: Element | null = portfolioText.querySelector(".description");
        if (!description) return;
        const descElement = description as HTMLElement;

        if (!modal) {
          overlay = document.createElement("div");
          overlay.className = "modal-overlay";
          overlay.style.position = "fixed";
          overlay.style.top = "0";
          overlay.style.left = "0";
          overlay.style.width = "100%";
          overlay.style.height = "100%";
          overlay.style.background = "rgba(0, 0, 0, 0.8)";
          overlay.style.zIndex = "999";
          overlay.style.opacity = "0";
          document.body.appendChild(overlay);

          modal = document.createElement("div");
          modal.className = "modal-content";
          modal.textContent = descElement.textContent || "";
          document.body.appendChild(modal);
          modal.style.position = "fixed";
          modal.style.top = "50%";
          modal.style.left = "50%";
          modal.style.transform = "translate(-50%, -50%)";
          modal.style.width = "80%";
          modal.style.maxWidth = "500px";
          modal.style.maxHeight = "80vh";
          modal.style.overflowY = "auto";
          modal.style.background = "white";
          modal.style.zIndex = "1000";
          modal.style.padding = "2rem";
          modal.style.borderRadius = "8px";
          modal.style.boxShadow = "0 10px 20px rgba(0, 0, 0, 0.2)";
          modal.style.color = "#333";

          const closeButton = document.createElement("button");
          closeButton.textContent = "×";
          closeButton.style.position = "absolute";
          closeButton.style.top = "10px";
          closeButton.style.right = "10px";
          closeButton.style.fontSize = "24px";
          closeButton.style.color = "#DD356E";
          closeButton.style.background = "none";
          closeButton.style.border = "none";
          closeButton.style.cursor = "pointer";
          closeButton.style.lineHeight = "1";
          closeButton.addEventListener("click", closeModal);
          modal.appendChild(closeButton);

          requestAnimationFrame(() => {
            overlay!.style.opacity = "1";
            modal!.classList.add("modal-open");
            button.textContent = "Leer menos";
          });
        } else {
          closeModal();
        }
      });
    });
  });
</script>

<style>

  
/* Ajustar el tamaño de las tarjetas */
.j75-portfolio-item {
  width: 100%; /* Usar todo el ancho disponible */
  max-width: 400px; /* Límite máximo */
  height: auto; /* Permitir que la altura se ajuste */
  max-height: 500px; /* Límite máximo de altura */
  display: flex;
  flex-direction: column;
  aspect-ratio: 4 / 5; /* Mantener proporciones */
 
}

.portfolio-entry {
  /* Imagen */
  width: 100%;
  aspect-ratio: 4 / 3; /* Mantener proporciones de la imagen */
  overflow: hidden;
  flex-shrink: 0; /* Evitar que la imagen se reduzca */
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  flex-grow: 0; /* Cambiar de flex: 1 a flex-grow: 0 para evitar expansión innecesaria */
  gap: 1rem; /* Espaciado consistente entre elementos */
  padding: 1.5rem;
  
 
 
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  min-height: 3rem; /* Asegurar espacio para dos líneas */
  line-height: 1.5rem;
  margin-bottom: 0; /* Eliminar margen extra */
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
  height: 3rem; /* Altura fija para 2 líneas */
  transition: all 0.2s ease;
}

/* Botones */
.portfolio-text > div:last-child {
  margin-top: auto; /* Empujar los botones al final del contenedor */
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}
  .modal-overlay {
    transition: opacity 0.1s ease;
  }
  .modal-content {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* transition-delay: 0.05s; */
    color: #202020;
    font-size: 1.125rem;
    line-height: 1.5;
  }
  .modal-content.modal-open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
</style>